<div class="container">
            <div class="row">
                        <div class="mt-480 d-flex flex-column ">
                                    <h3 class="mt-120 mb-48 text-center fs-1 fw-bold border-bottom border-dark"
                                                style="border-bottom: 2px;">服務好評</h3>

                                    <div class="d-flex align-items-center ">
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-chevron-left"
                                                            viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                                </svg> -->
                                                <span class="fw-bold">＜</span>

                                                <div
                                                            class="d-flex justify-content-between flex-column col ms-24 py-24 px-16 bg-secondary rounded-2">
                                                            <img width="42" height="30"
                                                                        src="../assets/images/others/orange.png" alt="">
                                                            <p class="py-24 fs-5">
                                                                        謝謝「愛配」，陪玩師新竹風城女子，給我很多戀愛上的建議，成為我的戀愛顧問，在陪玩師的協助下，我用了她建議的方法攻陷了我現任女友的心，至於秘訣是什麼，全網唯一推薦「新竹風城女子」，快去下單問她吧！
                                                            </p>
                                                            <hr>
                                                            <p class="fs-5">網友 / 麵線</p>
                                                </div>
                                                <div
                                                            class="d-flex justify-content-between flex-column col mx-24 py-24 px-16 bg-secondary rounded-2">
                                                            <img width="42" height="30"
                                                                        src="../assets/images/others/purple.png" alt="">
                                                            <p class="py-24 fs-5">
                                                                        謝謝「愛配」，如果沒有從愛配上找到陪玩師，今年的過年我就要單身回家面對親友的轟炸了，謝謝黃藥師陪我回家過年。爸媽現在一直問我什麼時候要跟你結婚，你怎麼可以表現這麼好俘獲我爸媽的心啦。
                                                            </p>
                                                            <hr>
                                                            <p class="fs-5">網友 / 珍妮佛羅賠滋</p>

                                                </div>
                                                <div
                                                            class="d-flex justify-content-between flex-column col me-24 py-24 px-16 bg-secondary rounded-2">
                                                            <img width="42" height="30"
                                                                        src="../assets/images/others/pink.png" alt="">
                                                            <p class="py-24 fs-5">
                                                                        謝謝大肌會陪玩師，我原本是想在健身房找教練的，但你的收費比健身房教練還便宜，身材又很好，所以我就下單一堂試個水溫，沒想到你真的教得很好，後來又多追加了幾堂，現在我人魚線都回來了。
                                                            </p>
                                                            <hr>
                                                            <p class="fs-5">網友 / 水煮餐女孩</p>
                                                </div>
                                                <span class="fw-bold">＞</span>
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-chevron-right "
                                                            viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                                </svg> -->
                                    </div>
                                    <div class="d-flex justify-content-end mt-24 mb-120">
                                                <h5 class="fs-1 fw-bold  border-dark">看更多</h5>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="28"
                                                            height="28" class=" bi bi-caret-right-fill"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                </svg>

                                    </div>

                        </div>
            </div>

</div>