  <div class="commentService container pt-48 mt-64 mt-lg-600">
      <h2 class="secondaryDark text-center d-none d-lg-block fs-48">
        服務好評
        <div class="d-flex justify-content-center">
          <div
            class="border border-bottom border-3 mt-16 border-secondaryDark w-96"
          ></div>
        </div>
      </h2>
      <h2 class="secondaryDark text-center d-block d-lg-none fs-24">服務好評</h2>
      <div class="d-flex align-items-stretch position-relative">
        <span class="material-icons commentLeft d-none d-xxl-block">
          chevron_left
        </span>
        <span class="material-icons commentRight d-none d-xxl-block">
          chevron_right
        </span>
        <ul class="d-flex mt-48 gap-24 justify-content-center p-0 overflowX overflowY align-items-start pt-16 pb-16 w-100">
          <li class="card py-24 px-16 h-100 w-100" data-aos="fade-up-right">
            <div class="card-title mb-0">
              <img src="../assets/images/others/pink.png" alt="pink" />
            </div>
            <p class="card-text mt-24 text-gray1">
              謝謝「愛配」，陪玩師新竹風城女子，給我很多戀愛上的建議，成為我的戀愛顧問，在陪玩師的協助下，我用了她建議的方法攻陷了我現任女友的心，至於秘訣是什麼，全網唯一推薦「新竹風城女子」，快去下單問她吧！
            </p>
            <hr class="m-0 mt-auto" />
            <p class="mt-24 mb-0 text-gray1">網友 / 麵線</p>
          </li>
          <li class="card py-24 px-16 h-100 w-100" data-aos="fade-up">
            <div class="card-title mb-0">
              <img src="../assets/images/others/purple.png" alt="purple" />
            </div>
            <p class="card-text mt-24 text-gray1">
              謝謝「愛配」，如果沒有從愛配上找到陪玩師，今年的過年我就要單身回家面對親友的轟炸了，謝謝黃藥師陪我回家過年。爸媽現在一直問我什麼時候要跟你結婚，你怎麼可以表現這麼好俘獲我爸媽的心啦。
            </p>
            <hr class="m-0 mt-auto" />
            <p class="mt-24 mb-0 text-gray1">網友 / 珍妮佛羅賠滋</p>
          </li>
          <li class="card py-24 px-16 h-100 w-100" data-aos="fade-up-left">
            <div class="card-title mb-0">
              <img src="../assets/images/others/orange.png" alt="orange" />
            </div>
            <p class="card-text mt-24 text-gray1">
              謝謝大肌會陪玩師，我原本是想在健身房找教練的，但你的收費比健身房教練還便宜，身材又很好，所以我就下單一堂試個水溫，沒想到你真的教得很好，後來又多追加了幾堂，現在我人魚線都回來了。
            </p>
            <hr class="m-0 mt-auto" />
            <p class="mt-24 mb-0 text-gray1">網友 / 水煮餐女孩</p>
          </li>
        </ul>
      </div>
      <div class="mt-24 text-gray2 d-flex justify-content-end d-none d-lg-block mb-120">
        <a href="#" class="d-flex align-items-center justify-content-end"
          >看更多<span class="material-icons text-gray2"> arrow_right </span></a
        >
      </div>
    </div>
  