<footer class="border border-top border-1 border-gray6">
    <div class="container">
      <div class="mt-48 mb-15">
        <a href="#"><img src="../assets/images/logo/Logo.png" alt="logo" /></a>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <ul class="d-flex list-unstyled">
            <li class="py-12 text-gray1"><a href="#">服務條款</a></li>
            <li class="py-12 text-gray1 ms-72"><a href="#">隱私權政策</a></li>
            <li class="py-12 text-gray1 ms-72"><a href="#">交友安全聲明</a></li>
          </ul>
        </div>
        <div class="d-flex">
          <a href="#">
            <img
              src="../assets/images/others/app_store.png"
              alt="appleStore"
              width="127"
              height="45"
            />
          </a>
          <a href="#">
            <img
              src="../assets/images/others/google_play.png"
              alt="googlePlay"
              width="127"
              height="45"
              class="ms-24"
            />
          </a>
        </div>
      </div>
    </div>
  </footer>
  <div class="container-fluid bg-secondaryDark">
    <h6 class="text-center text-gray6 py-16 fs-12">CopyRight by Berlin</h6>
  </div>
  