<div class="pt-64 pt-lg-120 bg-secondaryLight">
    <div class="container px-24 px-lg-12">
        <section class="d-flex align-items-center flex-column mb-48">
            <h2 class="fs-40 fw-bold mb-0 mb-lg-16">陪玩師招募</h2>
            <div class="underLine rounded-pill bg-secondaryLight d-none d-lg-block"></div>
        </section>

        <ul class="list-unstyled d-block d-lg-flex justify-content-between pb-48 pb-lg-200 mb-0">
            <li class="d-flex align-items-center flex-column bg-white mb-24 pt-55 pb-40 px-40 rounded-3 shadow">
                <div class="mb-12 mb-lg-32 position-relative">
                    <h5 class="d-inline-block py-8 px-24 bg-gray4 rounded-pill shadow position-absolute top-0 start-50 translate-middle">資格</h5>
                    <img src="../assets/images/web/product/hire01.png" alt="hire01" class="mw-100"/>
                    <h2 class="fs-40 fw-bold text-white position-absolute top-50 start-50 translate-middle text-nowrap">無經驗可</h2>
                </div>
                <small class="fs-24 fw-regular text-gray2">新手小白都接受</small>              
            </li>
            <li class="d-flex align-items-center flex-column bg-white mb-24 pt-55 pb-40 px-40 rounded-3 shadow">
                <div class="mb-12 mb-lg-32 position-relative">
                    <h5 class="d-inline-block py-8 px-24 bg-gray4 rounded-pill shadow position-absolute top-0 start-50 translate-middle">抽成</h5>
                    <img src="../assets/images/web/product/hire02.png" alt="hire02" class="mw-100"/>
                    <h2 class="fs-40 fw-bold text-white position-absolute top-50 start-50 translate-middle text-nowrap">筆筆90%</h2>
                </div>
                <small class="fs-24 fw-regular text-gray2">業界最高回饋</small>  
            </li>
            <li class="d-flex align-items-center flex-column bg-white mb-24 pt-55 pb-40 px-40 rounded-3 shadow">
                <div class="mb-12 mb-lg-32 position-relative">
                    <h5 class="d-inline-block py-8 px-24 bg-gray4 rounded-pill shadow position-absolute top-0 start-50 translate-middle">優勢</h5>
                    <img src="../assets/images/web/product/hire03.png" alt="hire03" class="mw-100"/>
                    <h2 class="fs-40 fw-bold text-white position-absolute top-50 start-50 translate-middle text-nowrap">彈性接案無負擔</h2>
                </div>
                <small class="fs-24 fw-regular text-gray2">分享興趣與互動</small>  
            </li>
        </ul>
    </div>
</div>