
<div class="container mt-md-n72">
    <ul
      class="mainContent list-unstyled d-flex gap-24 flex-wrap justify-content-between d-none d-xxl-block"
    >
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/01.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">櫻木花錢</span>
                <span
                  class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> male </span>
                  <span class="ms-4">62</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/02.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">香奈鵝</span>
                <span
                  class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> female </span>
                  <span class="ms-4">24</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/03.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">體大學生</span>
                <span
                  class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> male </span>
                  <span class="ms-4">20</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/04.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">工頭</span>
                <span
                  class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> female </span>
                  <span class="ms-4">28</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/05.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">kTV王子</span>
                <span
                  class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> male </span>
                  <span class="ms-4">20</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/06.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">小可</span>
                <span
                  class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> female </span>
                  <span class="ms-4">33</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/07.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">純痴茶</span>
                <span
                  class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> female </span>
                  <span class="ms-4">20</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
      <li class="d-none d-lg-block favorite">
        <div
          class="d-flex flex-column justify-content-center align-items-center mt-24"
        >
          <img
            src="../assets/images/others/mainFavoriteText.png"
            alt="favText"
            width="196"
            height="38"
          />
          <img
            src="../assets/images/others/mainFavorite.png"
            alt="fav"
            width="196"
            height="161"
            class="mt-28"
          />
          <div class="mt-40 text-gray2 position-relative">
            <a href="#" class="d-flex align-items-center"
              >找其他<span class="material-icons text-gray2">
                arrow_right
              </span></a
            >
          </div>
        </div>
      </li>
      <li>
        <div class="card rounded-5 border-0 shadow">
          <div class="position-relative">
            <img src="../assets/images/web/product/08.png" alt="01" class="img" />
            <a href="#" class="position-absolute">
              <span class="material-icons p-8 bg-secondaryLight rounded-5 icons">
                favorite_border
              </span>
            </a>
            <div
              class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-48"
            >
              <div class="left d-flex align-items-center">
                <span class="productName text-gray6 fs-24">麥香雞</span>
                <span
                  class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                >
                  <span class="material-icons"> male </span>
                  <span class="ms-4">33</span>
                </span>
              </div>
              <div class="right border rounded-5 bg-secondaryLight">
                <a href="#">
                  <span class="material-icons p-8 icons"> chat </span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body ps-24 pe-24 rounded-5">
            <p class="fw-md fs-24">NT$ 800 / HR</p>
            <section class="serviceContent mt-16">
              <h6 class="fs-20">服務項目</h6>
              <small class="text-gray2 mt-8"
                >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
              >
            </section>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  
  
  <div class="container mt-n500">
    <div class="overflowX">
      <ul
        class="list-unstyled d-flex gap-24 d-block d-lg-none w-100 mob-overflow mb-0 "
      >
        <li class="order-3">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/01.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">櫻木花錢</span>
                  <span
                    class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> male </span>
                    <span class="ms-4">62</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-2">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/02.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">香奈鵝</span>
                  <span
                    class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> female </span>
                    <span class="ms-4">24</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-first">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/03.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">體大學生</span>
                  <span
                    class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> male </span>
                    <span class="ms-4">20</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-4">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/04.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">工頭</span>
                  <span
                    class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> female </span>
                    <span class="ms-4">28</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-5">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/05.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">kTV王子</span>
                  <span
                    class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> male </span>
                    <span class="ms-4">20</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-6">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/06.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">小可</span>
                  <span
                    class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> female </span>
                    <span class="ms-4">33</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="order-7">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/07.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">純痴茶</span>
                  <span
                    class="gender d-flex align-items-center bg-main rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> female </span>
                    <span class="ms-4">20</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
        <li class="d-none d-lg-block order-9">
          <div
            class="d-flex flex-column justify-content-center align-items-center mt-24"
          >
            <img
              src="../assets/images/others/mainFavoriteText.png"
              alt="favText"
              width="196"
              height="38"
            />
            <img
              src="../assets/images/others/mainFavorite.png"
              alt="fav"
              width="196"
              height="161"
              class="mt-28"
            />
            <div class="mt-40 text-gray2 position-relative">
              <a href="#" class="d-flex align-items-center"
                >找其他<span class="material-icons text-gray2">
                  arrow_right
                </span></a
              >
              <div class="datingStart d-none d-lg-block"></div>
            </div>
          </div>
        </li>
        <li class="order-8">
          <div class="card rounded-5 border-0 shadow">
            <div class="position-relative">
              <img
                src="../assets/images/web/product/08.png"
                alt="01"
                class="img"
              />
              <a href="#" class="position-absolute">
                <span
                  class="material-icons p-8 bg-secondaryLight rounded-5 icons"
                >
                  favorite_border
                </span>
              </a>
              <div
                class="d-flex d-flex justify-content-between productIntro position-absolute w-100 pe-24"
              >
                <div class="left d-flex align-items-center">
                  <span class="productName text-gray6 fs-24">麥香雞</span>
                  <span
                    class="gender d-flex align-items-center bg-blueLight rounded-5 text-gray6 ms-16 py-5 px-8"
                  >
                    <span class="material-icons"> male </span>
                    <span class="ms-4">33</span>
                  </span>
                </div>
                <div class="right border rounded-5 bg-secondaryLight">
                  <a href="#">
                    <span class="material-icons p-8 icons"> chat </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body ps-24 pe-24 rounded-5">
              <p class="fw-md fs-24">NT$ 800 / HR</p>
              <section class="serviceContent mt-16">
                <h6 class="fs-20">服務項目</h6>
                <small class="text-gray2 mt-8"
                  >鐘點約會 / 旅遊陪同 / 朋友聚會 / 商業應酬</small
                >
              </section>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-24 text-gray2 position-relative d-flex justify-content-end d-lg-none">
      <a href="#" class="d-flex align-items-center"
        >看更多<span class="material-icons text-gray2"> arrow_right </span></a
      >
    </div>
    
  </div>
  