<div class="bg-gray5 playComment">
    <div class="container position-relative d-flex justify-content-center">
        <div class="comment mx-auto bg-white position-relative position-absolute rounded-3 shodow d-flex align-items-center flex-column">
            <img src="../assets/images/others/Vector.png" alt="Vector" class="vector position-absolute">
            <div class="row d-block d-lg-flex justify-content-between text-center mb-72">
                <div class="col-lg-6 mb-24 ps-lg-0">
                    <h6 class="fs-20 fw-regular text-gray2">飛天小女警</h6>
                    <span class="fs-16 fw-regular text-gray2">註冊的速度非常快，完成之後就有訂單進來，款項入帳的時間也非常快，非常感謝愛配讓我成為陪玩師。</span>
                </div>
                <div class="col-lg-6 pe-lg-0">
                    <h6 class="fs-20 fw-regular text-gray2">工具人</h6>
                    <span class="fs-16 fw-regular text-gray2">身為一名健談的工具人，跟我聊天絕無冷場，上得了廳堂入得了廚房，問我股票也不會讓你住套房。</span>
                </div>
            </div>
            <button type="button" class="btn commentBtn fs-16 fw-medium text-white rounded-3 shodow py-24 px-120">成為陪玩師</button>
        </div>
    </div>
</div>