.datingWeb {
  top: -50px;
  left: 260px;
}

.mobBg::after {
  content: "";
  background-image: url("../assets/images/mobile/decoration/ds.svg");
  width: 271px ;
  height: 43px ;
  position: absolute;
  bottom: 0px;
  left: 0px;
  // object-fit: cover;
  z-index: 100;
  // position: center;

}

.img {
  width: 100%;
}

.fit-cover {
  object-fit: cover;
}
