.datingWeb {
  top: -50px;
  left: 260px;
}

.mobBg::after {
  content: "";
  // display: block;
  width: 271px;
  height: 43px;
  background-image: url("../assets/images/web/decoration/01.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
}

.img {
  width: 100%;
}

.fit-cover {
  object-fit: cover;
}
