.commentLeft{
    position: absolute;
    top:50%;
    left: -56px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.commentRight{
    position: absolute;
    top:50%;
    right: -56px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}